/* global style */

/* body: selector (all elements in the body element) */
body {
    /* default and fallback fonts */
    font-family: Arial, sans-serif;

    /* text colour */
    color: #0c0c0c;

    /* background colour */
    background-color: #f4f4f4;

    /* ruleset */
    line-height: 1.5;

    /* box model rules */
    margin: 0;
    padding: 0;

    /* set the font-size to take up its maximum space, but adjust as the window shrinks */
    font-size: 100%;
}

a {
    color: #07c;
    text-decoration: none;
}

/* psuedo-class targets elements when hovered over */
a:hover {
    text-decoration: underline;
}   

header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    color: red;
}

h1{
    color: green;
}